/* CSS 변수 */
:root{
/* --대상-용도:반복속성값; */
/* 글자크기 */
--text-title70:4.375rem;
--text-contents21:1.313rem;
--text-menu18:1.125rem;
--text-sub12:0.75rem;
--text-sub10:0.625rem;
--text-sub14:0.875rem;
--text-sub-menu40:2.5rem;
/* 행간 */
--line-title:0.9;
--line-contents:1.5;
/* 자간 */
--letter-minus2:-0.02rem;
/* 굵기 */
--weight--bolod:700;
--weight--semibolod:600;
--weight--medium:500;
/* 색상(테두리색, 배경색, 글자색) */
--color-white:#fff;
--color-gray4:#444;
--color-gray:#aaa;
--color-grayd:#ddd;
--color-title_brown:#642C10;
--color-title_indigo:#1D356D;
--color-title_coral:#D43936;
--color-point:#36b4e5;
/* 레이아웃 정보 */
--width-desktop:1440px;
--margin-desktop-1-r-80:80px;
}
/* `scroll-behavior`->스크롤의 동작을 부드럽게 한다 */
body,html {scroll-behavior:smooth;}
/* header 포함 공통 */
#wrap {padding-top:92px;}
#wrap header {
    /* width:100%; 블록의 기본값 생략가능 */
    padding:0 80px;
    height:92px;
    display:flex;
    flex-flow:row nowrap; /* 메인축(수평) 줄바꿈안함 */
    justify-content:space-between; /* 메인축 정렬(양쪽끝) */
    align-items:center;/* 교차축(수직) 가운데 */
    /* position:relative; /* lnb 부모 크기+위치기준 */
    position:fixed; left:0; top:0; /* 좌표쓰기(left, top) */
    z-index:900; /* 부모의 값이기때문에 크게 값을 줘도 괜찮음 */
    width:100%; /* fixed or absolute을 사용하게 되면 너비값을 재설정해야한다. */
    background:var(--color-white);
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav .gnb {
    display:flex; /* 자식 li 정렬 위한 값 */
    flex-flow:row nowrap;
    gap:70px
}
#wrap header nav .gnb > li {}
#wrap header nav .gnb > li > a{
    font-size:var(--text-menu18);
    display:block;
    line-height:92px; 
    /*`a`태그가 인라인기때문에 블록으로 변경해주고, line 적용한 것은 글자가 가운데 오게*/
}
#wrap header nav .gnb > li .lnb {
    background:rgba(255,255,225,0.7);
    /* 교차시키기(absolute) + 중첩순서(z-index) */
    position:absolute; 
    z-index:90; /* 보이는 크기의 값이여서 단위를 사용하지않음. */
    width:100%;/* absolute와 함께 w100%가 있으면 부모(pst)의 너비와 같다 뜻 */
    left:0; /* absolute + 좌표가 있다면? 부모(pst) 기준 좌표 설정 뜻 */
    top:92px;
    display:flex; flex-flow:row nowrap;
    justify-content:center;
    gap:80px;
    padding:45px 0;
    display:none;
}
#wrap header nav .gnb > li:nth-child(5) .lnb {}
/* 메인메뉴에 마우스 올렸을 때 서브메뉴 보이기(공통) */
#wrap header nav .gnb > li:hover .lnb {display:flex;}
/* 서브메뉴 시작 */
#wrap header nav .gnb > li .lnb > li {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    gap:15px;
}
#wrap header nav .gnb > li .lnb > li > a {
    font-size:var(--text-menu18); color:var(--color-gray4);
    font-weight:var(--weight--semibolod);
    
}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 {
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    gap:10px;
}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 > li {}
#wrap header nav .gnb > li .lnb > li .lnb_depth2 > li > a {color:var(--color-gray);}
#wrap header nav .gnb > li .lnb li  a {}
#wrap header .right_menu {
    display:flex;
    align-items:center;
}
#wrap header .right_menu > li {}
#wrap header .right_menu > li:first-child {
    display:flex; /* customer와 구분선의 부모 */
    flex-flow:row nowrap;
}
#wrap header .right_menu > li:first-child::after {
    content:''; display:block;
    width:1px; height:13px; background:var(--color-gray);
    margin:0 40px;
}
#wrap header .right_menu > li > a {
    font-size:var(--text-sub12);
}
#wrap header .right_menu > li:last-child {margin-left:40px;}
#wrap header .right_menu > li > a img {}
/* 언어선택 시 활성화 디자인 */
#wrap header .right_menu li:nth-child(2){
    position:relative;
}
/* 두번째 li에 마우스 올렸을 때 자식 언어선택 보이기 */
#wrap header .right_menu li:nth-child(2):hover .lang_select {
    display:flex; flex-flow:column nowrap;
}
#wrap header .right_menu li:nth-child(2) .lang_select {
    /* 형제 또는 부모와 겹치는 디자인 요소는 -> absolute */
    position:absolute; z-index:100; /* 값->0~999(단위는 사용하지않음/위에 상대적으로 보이는 값)  */
    display:flex; flex-flow:column nowrap; gap:10px;
    /* 초기숨기기 */
    display:none;
}
#wrap header .right_menu li:nth-child(2) .lang_select a {
    border:1px solid #aaa; border-radius:50%; /* 크기의 반을 사용했기때문에 %를 사용하면 크기를 변경해도 일일히 크기를 고치지않아도 된다. */
    font-size:var(--text-sub12); background:#fff;
    text-align:center;
    width:40px; line-height:40px;
}
#wrap header .right_menu li:nth-child(2) .lang_select a.kr{}
#wrap header .right_menu li:nth-child(2) .lang_select a.en{}
#wrap header .right_menu li:nth-child(2) .lang_select a.cn{}
/* 메인 */
#wrap main {}